<div class="my-login-page" >
	<div id="particles-js"></div>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="assets/img/logo.png" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							<form class="my-login-validation" novalidate="">
								<div class="form-group">
									<label for="email">Username</label>
									<input ng-model="userLogin.user" class="form-control">
									<div ng-style="invalid.user" class="invalid-feedback">
										Your username is required
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password
									</label>
									<input ng-model="userLogin.psw" type="password" class="form-control" >
									<div ng-style="invalid.psw" class="invalid-feedback">
										Your password is required
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" ng-click="login()" class="btn btn-success btn-block">
										Login
									</button>
								</div>             
								<div class="mt-4 text-center">
									Don't have an account? <a ui-sref="register">Create One</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2017 &mdash; YourMusic
					</div>
				</div>
			</div>
		</div>
		<button type="button" style="display:none" id="errorlogin" class="btn btn-primary" data-toggle="modal" data-target="#loginerror">Launch modal</button>

	<<div class="modal fade" id="loginerror" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
	    <!--Content-->
	    <div class="modal-content text-center">
	      <!--Header-->
	      <div class="modal-header d-flex justify-content-center">
	        <p class="heading">{{error}}</p>
	      </div>

	      <!--Body-->
	      <div class="modal-body">
	        <i class="fas fa-times fa-4x fa-spin"></i>
	      </div>
	    </div>
	    <!--/.Content-->
	  </div>
	</div>
	</section>
</div>