.cue-audio {
    display: none
}

.cue-playlist {
    box-sizing: border-box;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1;
    margin: 0 0 20px 0;
    position: relative
}

.cue-playlist *,
.cue-playlist :after,
.cue-playlist :before {
    box-sizing: border-box
}

.cue-playlist .cue-track {
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 1px 0 0 0;
    color: grey;
    cursor: pointer;
    display: table;
    margin: 0;
    padding: 0;
    width: 100%
}

.cue-playlist .cue-track .cue-track-cell {
    display: table-cell;
    vertical-align: middle
}

.cue-playlist .cue-track .cue-track-details {
    padding: 12px 20px;
    line-height: 18px
}

.cue-playlist .cue-track .cue-track-details .cue-track-title {
    color: #444;
    display: block;
    font-weight: 700
}

.cue-playlist .cue-track .cue-track-details .cue-track-artist {
    display: block
}

.cue-playlist .cue-track .cue-track-length {
    font-size: 11px;
    padding: 10px 20px 10px 10px;
    text-align: right
}

.cue-playlist .cue-track.is-current,
.cue-playlist .cue-track:hover {
    background-color: #f5f5f5
}

.cue-playlist .cue-tracks {
    background: #fff;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    text-align: left;
    width: 100%
}

.cue-playlist .entry-content ol.cue-tracks,
.cue-playlist .entry-content ol.cue-tracks li.cue-track,
.cue-playlist .widget ol.cue-tracks li.cue-track {
    margin: 0;
    padding: 0
}

.cue-playlist.is-playlist-hidden .cue-tracks {
    display: none
}

.cue-playlist.max-width-300 .cue-track .cue-track-length {
    display: none
}

.cue-playlist.max-width-200 .cue-track {
    border-color: rgba(0, 0, 0, .1);
    border-width: 0 0 1px 0
}

.cue-playlist.max-width-200 .cue-track .cue-track-details {
    padding: 8px 10px
}

.cue-playlist.max-width-200 .cue-track .cue-track-details .cue-track-title {
    font-weight: 400
}

.cue-playlist.max-width-200 .cue-track.is-current,
.cue-playlist.max-width-200 .cue-track:hover {
    background: 0 0
}

.cue-playlist.max-width-200 .cue-track.is-current .cue-track-details .cue-track-title,
.cue-playlist.max-width-200 .cue-track:hover .cue-track-details .cue-track-title {
    font-weight: 700
}

.cue-playlist.max-width-200 .cue-track:last-of-type {
    border-bottom-width: 0
}

.cue-playlist.max-width-200 .cue-tracks {
    background: rgba(255, 255, 255, .8);
    border-width: 0;
    box-shadow: none;
    max-height: 100%
}

@media only screen and (min-width:600px) {
    .cue-tracks {
        max-height: 286px
    }
}

.cue-skin-default.mejs-container {
    background: 0 0;
    background-clip: padding-box;
    background-color: grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .3);
    height: 142px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    transform: translate3d(0, 0, 0);
    width: 100%
}

.cue-skin-default.mejs-container .mejs-inner {
    height: 142px;
    padding: 15px 15px 25px 15px;
    position: relative;
    z-index: 10
}

.cue-skin-default.mejs-container .mejs-mediaelement {
    background: 0 0
}

.cue-skin-default.mejs-container .mejs-track-artwork {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
    float: left;
    height: 100px;
    margin-right: 15px;
    position: relative;
    width: 100px
}

.cue-skin-default.mejs-container .mejs-track-artwork:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.cue-skin-default.mejs-container .mejs-track-artwork img {
    display: block;
    height: 100%;
    width: 100%
}

.cue-skin-default.mejs-container .mejs-track-details {
    color: #fff;
    padding-top: 4px
}

.cue-skin-default.mejs-container .mejs-track-details .mejs-track-artist {
    display: block;
    line-height: 2;
    margin-right: 45px
}

.cue-skin-default.mejs-container .mejs-track-details .mejs-track-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2
}

.cue-skin-default.mejs-container .mejs-controls {
    background: 0 0;
    display: block;
    margin-top: 10px;
    padding: 0;
    position: static
}

.cue-skin-default.mejs-container .mejs-controls div {
    float: left;
    height: auto;
    width: auto
}

.cue-skin-default.mejs-container .mejs-controls .mejs-button button {
    background: 0 0;
    border-color: #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    box-shadow: none;
    color: #fff;
    height: 20px;
    margin: 0;
    padding: 0;
    outline: 0;
    position: relative;
    transition: none;
    width: 20px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-button button:before {
    content: ""
}

.cue-skin-default.mejs-container .mejs-controls .mejs-button button svg {
    fill: currentColor;
    vertical-align: middle
}

.cue-skin-default.mejs-container .mejs-controls .mejs-button button:active,
.cue-skin-default.mejs-container .mejs-controls .mejs-button button:focus {
    background: 0 0;
    box-shadow: none;
    outline: 0
}

.cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button {
    background: rgba(0, 0, 0, .5);
    border-radius: 30px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .5);
    cursor: pointer;
    height: 50px;
    position: absolute;
    top: 39px;
    left: 39px;
    transition: box-shadow .2s;
    width: 50px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button button {
    height: 20px;
    width: 16px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button:hover,
.is-playing .cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button {
    box-shadow: 0 0 0 5px #fff
}

.cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button.mejs-pause button {
    border-width: 0 5px;
    margin: 15px 17px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button.mejs-play button {
    border-color: transparent #fff;
    border-style: inset solid;
    border-width: 10px 0 10px 16px;
    height: 0;
    margin: 15px 15px 15px 19px;
    width: 0
}

.cue-skin-default.mejs-container .mejs-controls .mejs-next-button,
.cue-skin-default.mejs-container .mejs-controls .mejs-previous-button {
    cursor: pointer;
    height: 20px;
    margin-right: 15px;
    opacity: .6;
    position: relative;
    transition: opacity .2s;
    width: 20px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-next-button button,
.cue-skin-default.mejs-container .mejs-controls .mejs-previous-button button {
    border-color: transparent #fff;
    border-style: inset solid;
    border-width: 8px 0 8px 12px;
    height: 0;
    margin: 2px 4px;
    width: 0
}

.cue-skin-default.mejs-container .mejs-controls .mejs-next-button button:before,
.cue-skin-default.mejs-container .mejs-controls .mejs-previous-button button:before {
    background: #fff;
    content: "";
    display: block;
    height: 14px;
    position: absolute;
    top: -7px;
    right: -2px;
    width: 3px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-next-button:hover,
.cue-skin-default.mejs-container .mejs-controls .mejs-previous-button:hover {
    opacity: 1
}

.cue-skin-default.mejs-container .mejs-controls .mejs-previous-button button {
    border-width: 8px 12px 8px 0
}

.cue-skin-default.mejs-container .mejs-controls .mejs-previous-button button:before {
    right: auto;
    left: -2px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-time-rail {
    box-shadow: 0 -1px rgba(255, 255, 255, .2);
    height: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%
}

.cue-skin-default.mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
    background: rgba(0, 0, 0, .4);
    border-radius: 0;
    height: 10px;
    margin: 0;
    width: 100%
}

.cue-skin-default.mejs-container .mejs-controls .mejs-time-rail .mejs-time-handle {
    background: rgba(255, 255, 255, .5);
    border-radius: 0;
    border-width: 0;
    display: block;
    height: 10px;
    position: absolute;
    top: 0;
    width: 5px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-time-rail .mejs-time-handle .mejs-time-handle-content {
    display: none
}

.cue-skin-default.mejs-container .mejs-controls .mejs-time-rail .mejs-time-hovered {
    height: 10px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.cue-skin-default.mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: 0 0;
    height: 10px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-time {
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    padding: 0;
    position: absolute;
    right: 15px;
    bottom: 25px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-time span {
    color: #fff;
    line-height: 16px;
    margin: 0
}

.cue-skin-default.mejs-container .mejs-controls .mejs-time .mejs-time-separator {
    padding: 0 5px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-volume-button {
    height: 24px;
    margin-right: 10px;
    opacity: .6;
    top: -2px;
    width: 24px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-volume-button button,
.cue-skin-default.mejs-container .mejs-controls .mejs-volume-button button:focus {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LDE2di0xLjVjMS4zNzgsMCwyLjUtMS4xMjIsMi41LTIuNWMwLTEuMzc5LTEuMTIyLTIuNS0yLjUtMi41VjhjMi4yMDksMCw0LDEuNzkxLDQsNEMxOCwxNC4yMDksMTYuMjA5LDE2LDE0LDE2eiBNMTQsNCB2MS41YzMuNTg0LDAsNi41LDIuOTE2LDYuNSw2LjVzLTIuOTE2LDYuNS02LjUsNi41VjIwYzQuNDE4LDAsOC0zLjU4Miw4LThTMTguNDE4LDQsMTQsNHogTTIsOXY2aDRsNiw2VjNMNiw5SDJ6Ii8+PC9zdmc+);
    height: 24px;
    width: 24px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-volume-button.mejs-unmute button,
.cue-skin-default.mejs-container .mejs-controls .mejs-volume-button.mejs-unmute button:focus {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LDkuNVY4YzIuMjA5LDAsNCwxLjc5MSw0LDRjMCwwLjgxNC0wLjI0NiwxLjU3LTAuNjY0LDIuMjAyTDE2LjIzNCwxMy4xYzAuMTY1LTAuMzMzLDAuMjY2LTAuNzAzLDAuMjY2LTEuMSBDMTYuNSwxMC42MjEsMTUuMzc4LDkuNSwxNCw5LjV6IE0yMC41LDEyYzAsMS41MDMtMC41MTgsMi44ODUtMS4zNzgsMy45ODhsMS4wNzMsMS4wNzNDMjEuMzIyLDE1LjY4MiwyMiwxMy45MiwyMiwxMiBjMC00LjQxOC0zLjU4Mi04LTgtOHYxLjVDMTcuNTg0LDUuNSwyMC41LDguNDE2LDIwLjUsMTJ6IE0xMiwzTDkuMDY3LDUuOTMzTDEyLDguODY2VjN6IE0yLDMuMDYxbDQuOTcsNC45N0w2LDlIMnY2aDRsNiw2di03LjkzOSBsNC43ODUsNC43ODVDMTUuOTM4LDE4LjI1MiwxNS4wMDEsMTguNSwxNCwxOC41VjIwYzEuNDIyLDAsMi43NTUtMC4zNzYsMy45MTItMS4wMjhMMjAuOTM5LDIyTDIyLDIwLjkzOUwzLjA2MSwyTDIsMy4wNjF6Ii8+PC9zdmc+)
}

.cue-skin-default.mejs-container .mejs-controls .mejs-volume-button:hover {
    opacity: 1
}

.cue-skin-default.mejs-container .mejs-controls .mejs-horizontal-volume-slider {
    float: left;
    height: 20px;
    position: relative;
    width: 100px
}

.cue-skin-default.mejs-container .mejs-controls .mejs-horizontal-volume-slider:hover {
    opacity: 1
}

.cue-skin-default.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.cue-skin-default.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    border-radius: 3px;
    height: 6px;
    margin-top: -3px;
    position: absolute;
    top: 50%
}

.cue-skin-default.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    /*background: #fff;*/
    /*opacity: .6;*/
    background-color: rgba(#fff, 0.6);
    width: 100%
}

.cue-skin-default.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #fff;
    opacity: 1
}

.cue-skin-default.mejs-container .mejs-player-background {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    height: auto;
    max-width: 120%;
    opacity: .9;
    position: absolute;
    top: -50%;
    right: -10%;
    left: -10%;
    width: 120%;
    z-index: 0
}

.cue-skin-default.mejs-container .mejs-audiotheme-mark {
    color: #fff
}

.mejs-audiotheme-mark {
    color: #fff;
    display: block;
    height: 16px;
    opacity: .6;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: opacity .2s;
    width: 30px
}

.mejs-audiotheme-mark svg {
    fill: currentColor
}

.mejs-audiotheme-mark:hover {
    opacity: 1
}

.cue-tracks-count-1 .cue-skin-default.mejs-container .mejs-controls .mejs-next-button,
.cue-tracks-count-1 .cue-skin-default.mejs-container .mejs-controls .mejs-previous-button {
    display: none
}

.no-css-filters.no-svg-filters .cue-skin-default.mejs-container .mejs-player-background {
    opacity: .3
}

.cue-playlist.max-width-480 .cue-skin-default.mejs-container .mejs-track-details .mejs-track-title {
    font-size: 14px
}

.cue-playlist.max-width-480 .cue-skin-default.mejs-container .mejs-controls .mejs-horizontal-volume-slider,
.cue-playlist.max-width-480 .cue-skin-default.mejs-container .mejs-controls .mejs-volume-button {
    display: none
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container {
    height: auto;
    padding-bottom: 100%
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-inner {
    height: auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-layers {
    height: 100%;
    width: 100%
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-track-artwork {
    box-shadow: none;
    float: none;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-track-artwork:before {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .3);
    z-index: 1
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-track-artwork:after {
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .55) 100%) repeat scroll 0 0 transparent;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-track-artwork img {
    height: 100%;
    width: 100%
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-track-details {
    padding: 0 20px;
    position: absolute;
    bottom: 45px;
    text-align: center;
    width: 100%;
    z-index: 5
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-track-details .mejs-track-artist {
    margin-right: 0
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls {
    height: 0;
    margin: 0
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button {
    border-radius: 35px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    z-index: 5
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button button {
    margin: 25px 27px
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button.mejs-play button {
    margin: 25px 25px 25px 29px
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-next-button,
.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-previous-button {
    background: rgba(0, 0, 0, .5);
    border-radius: 18px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .5);
    height: 36px;
    margin-top: -18px;
    margin-left: 58px;
    opacity: .6;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    z-index: 5
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-next-button button,
.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-previous-button button {
    margin: 10px 12px
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-next-button:hover,
.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-previous-button:hover {
    box-shadow: 0 0 0 2px #fff;
    opacity: 1
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-previous-button {
    margin-left: -94px
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-time-rail {
    z-index: 5
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-time {
    position: absolute;
    right: auto;
    bottom: 24px;
    text-align: center;
    width: 100%;
    z-index: 5
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-controls .mejs-time span {
    display: inline-block;
    float: none
}

.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-audiotheme-mark,
.cue-playlist.max-width-380 .cue-skin-default.mejs-container .mejs-player-background {
    display: none
}

.cue-playlist.max-width-300 .cue-skin-default.mejs-container .mejs-track-details {
    display: none
}

.cue-playlist.max-width-200 .cue-skin-default.mejs-container {
    border-radius: 0
}

.cue-playlist.max-width-200 .cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button {
    border-radius: 25px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px
}

.cue-playlist.max-width-200 .cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button.mejs-pause button {
    margin: 15px 17px
}

.cue-playlist.max-width-200 .cue-skin-default.mejs-container .mejs-controls .mejs-playpause-button.mejs-play button {
    margin: 15px 15px 15px 19px
}

.cue-playlist.max-width-200 .cue-skin-default.mejs-container .mejs-controls .mejs-next-button,
.cue-playlist.max-width-200 .cue-skin-default.mejs-container .mejs-controls .mejs-previous-button {
    background: 0 0;
    border-radius: 0;
    box-shadow: none;
    height: 16px;
    margin-top: -8px;
    margin-left: 45px;
    width: 16px
}

.cue-playlist.max-width-200 .cue-skin-default.mejs-container .mejs-controls .mejs-next-button button,
.cue-playlist.max-width-200 .cue-skin-default.mejs-container .mejs-controls .mejs-previous-button button {
    margin: 0
}

.cue-playlist.max-width-200 .cue-skin-default.mejs-container .mejs-controls .mejs-next-button:hover,
.cue-playlist.max-width-200 .cue-skin-default.mejs-container .mejs-controls .mejs-previous-button:hover {
    box-shadow: none
}

.cue-playlist.max-width-200 .cue-skin-default.mejs-container .mejs-controls .mejs-previous-button {
    margin-left: -65px
}

.cue-playlist.max-width-200 .cue-skin-default.mejs-container .mejs-controls .mejs-time {
    bottom: 20px
}