<header class="page_header header_white toggler_xs_right tall_header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 display_table">
							<div class="header_left_logo display_table_cell"> <a class="logo top_logo">
                        		<img src="assets/images/logo.png" alt="">
					 		</div>
							<a class="nav-link" ui-sref="logout" style="font-size: 1em;text-align: right;margin-top: -0.5em;" >Log Out</a>
						</div>
					</div>
				</div>
			</header>