<div class="my-login-page">
	<div id="particles-js"></div>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="assets/img/logo.png" alt="Logo YourMusic">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Register</h4>
							<form method="POST" class="my-login-validation" novalidate="">
								<div class="form-group">
									<label for="name">Name</label>
									<input id="name" ng-model="userRegister.nombre" type="text" class="form-control" name="name" required autofocus>
									<div ng-style="invalid.nombre" class="invalid-feedback">
										What's your name?
									</div>
								</div>

								<div class="form-group">
									<label for="email">Username</label>
									<input id="email" type="text" ng-model="userRegister.usuario" class="form-control" name="email" required>
									<div ng-style="invalid.usuario" class="invalid-feedback">
										Your username is required
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password</label>
									<input id="password" type="password" ng-model="userRegister.clave" class="form-control" name="password" required data-eye>
									<div ng-style="invalid.clave" class="invalid-feedback">
										Password is required
									</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" ng-model="userRegister.agree" name="agree" id="agree" class="custom-control-input" required="">
										<label for="agree" class="custom-control-label">I agree to the <a href="#">Terms and Conditions</a></label>
										<div ng-style="invalid.agree" class="invalid-feedback">
											You must agree with our Terms and Conditions
										</div>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" ng-click="register()" class="btn btn-success btn-block">
										Register
									</button>
								</div>
								<div class="mt-4 text-center">
									Already have an account? <a ui-sref="login">Login</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2017 &mdash; YourMusic
					</div>
				</div>
			</div>
		</div>

		<!-- Button trigger modal-->
		<button type="button" style="display:none" id="successregister" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmDelete">Launch modal</button>
		<!--Modal: modalConfirmDelete-->
		<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		  aria-hidden="true">
		  <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
		    <!--Content-->
		    <div class="modal-content text-center">
		      <!--Header-->
		      <div class="modal-header d-flex justify-content-center">
		        <p class="heading">Accounts Registered</p>
		      </div>

		      <!--Body-->
		      <div class="modal-body">

		        <i class="far fa-smile-beam fa-spin fa-4x"></i>

		      </div>

		         <!--Footer-->
		      <div class="modal-footer flex-center">
		        <a href="" ng-click="logingo()" class="btn btn-outline-success">Login</a>
		        <a type="button" id="cancelmodal" class="btn  btn-success waves-effect" data-dismiss="modal">Close</a>
		      </div>
		    </div>
		    <!--/.Content-->
		  </div>
		</div>
		<!--Modal: modalConfirmDelete-->
	</section>
</div>